body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f9;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1e3a8a;
    color: white;
    padding: 15px 30px;
}

.navbar nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.logout {
    background: #3b82f6;
    border: none;
    padding: 8px 15px;
    color: white;
    cursor: pointer;
}

/* CONTENEDOR */
.container {
    padding: 20px;
}

/* TARJETAS */
.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

/* GRID */
.grid-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

/* BIENVENIDA */
.welcome {
    background: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.progress-bar {
    background: #ddd;
    height: 10px;
    border-radius: 5px;
}

.progress {
    width: 45%;
    height: 10px;
    background: orange;
    border-radius: 5px;
}

/* CURSOS */
.courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}

.card button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 8px;
    margin-top: 10px;
    cursor: pointer;
}

/* PROGRESO */
.stats {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.box {
    background: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
}