<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>CyberTutor IA</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<header class="navbar">
    <h2>CyberTutor IA</h2>
    <nav>
        <a href="/">Inicio</a>
        <a href="/simulation">Simulación</a>
        <a href="/quiz">Quiz</a>
        <a href="/chat">Chat IA</a>
    </nav>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>