{% extends "base.html" %}

{% block content %}

<section class="welcome">
    <h1>Bienvenido</h1>
    <p>Tu progreso:</p>
    <div class="progress-bar">
        <div class="progress" style="width: 60%;"></div>
    </div>
</section>

<section class="grid-4">

    <div class="card">
        <h3>Phishing</h3>
        <p>Ataques por correo</p>
        <a href="/cursos"><button>Ver</button></a>
    </div>

    <div class="card">
        <h3>Contraseñas</h3>
        <p>Seguridad básica</p>
        <button>Ver</button>
    </div>

    <div class="card">
        <h3>Ingeniería Social</h3>
        <p>Manipulación</p>
        <button>Ver</button>
    </div>

    <div class="card">
        <h3>Redes</h3>
        <p>Protección</p>
        <button>Ver</button>
    </div>

</section>

{% endblock %}